.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
	box-sizing: border-box;
}
table{
	margin-top: 20px;
}
button{
	margin-left: 15px;
}
.AddProduct{
text-justify: auto;
margin-left: 500px;

}
.AddProduct img{
	height: 45px;
	width: 45px;
}

.home{
	display: flex;
	flex-wrap: wrap;
	

}
.ProductItem{
	padding: 15px ;
	width: 350px;
	height: auto;
	margin: 10px;
}

.menu {
  text-align: center;
}
.price{
  color: red;
}
.oldPrice {
color: grey;
text-decoration: line-through;
font-size: 13px;
margin-left: 5px;
}